
    .price {
      color: blue;
      font-size: 22px;
    }

    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    .card button:hover {
      opacity: 0.7;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
    }

    #gif {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
    }

    h2 {
      text-align: center;
    }

    h1 {
      text-align: center;
    }
    #opener{
      font-family: 'Courier Prime', monospace;
      font-size: 25px;
    }
    .text{
      font-family: 'Courier Prime', monospace;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 8;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: blue; }
  }


  